body {
	font-family: Helvetica ,Arial,sans-serif;
	font-size: 2vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-left: 3vw;
	margin-right: 3vw;
	color:rgb(48, 48, 48);
}

a {
	color:pink;
}



* {
	box-sizing: border-box;
  }
  
  
  .title {
	font-size: 11vw;
	color: rgb(187, 187, 187);
	opacity:100%;
	font-weight: bold;
	line-height: 80%;
	letter-spacing: -0.05em;
	padding: 20px;
  }


  .subtitle em{
	  color:rgb(187, 187, 187);
	  font-weight: bold;


  }
  
	.bold{
		font-weight: bold;
		color: rgb(105,105,105)
	}

	.bigger{
		font-size: 3.5vw;
	}

  .bottomlinetitle {
	color: black;
	opacity: 60%;
}

  .subtitle {
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	width: 100%;
	top: 0px;
	left: 0px;
	font-size: 3vw;
	word-spacing: -.7vw;
	margin-top: 6vh;
	background-color: white;
  }
  
  .left {
	width: 50%;
	padding: 20px;
  }
  
  .right {
	width: 50%;
	padding: 20px;
  }
  
  .main {
	display: flex;
	flex-wrap: wrap;
  }
  
  .business {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
  }
  
  .life {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
  }
  
  .thumbnail {
	color: black;
	font-weight: normal;
	width: 50%;
	padding: 20px;
  }
  
  .thumbnail.landscape {
	width: 100%;
  }
  
  .thumbnail img {
	width: 100%;
	display: block;
  }
  

  /* subsection 2 */

  .subsection2{
	display: flex;
	flex-wrap: wrap;
  }

  .textleft{
	width: 50%;
	padding: 20px
  }

  .textright{
	width: 50%;
	padding: 20px;
	

  }

  .textcon {
	margin-bottom: 10vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


.geotext{
	width: 100%;
}


.textleft p{
	margin-bottom: 3vh;
	font-weight: lighter;
}

.lesspad{
	padding: 0px;
}

.colorblue{
	color:#016fb9 ;
}

.textright p{
	font-size: 1.5vw;
	margin-top: 3vh;
	font-weight: lighter;
}

.price{
	font-size: 2.3vw;
}

em{
	font-weight: normal;
}

.cart{
	font-weight: bold;
	color: rgb(255, 111, 21);
	font-size: 2vw;
}