@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
	font-family:'Courier New', Courier, monospace;
	color:black;
	font-size: 68px;
	text-align: center;
	margin: 25px;
	background-image:url("background/crumpled-paper.jpg");
	background-size: repeat;
}

a {
	color:red;
}

em {
	font-style: italic;
	text-shadow: -2px 4px 2px rgb(255, 255, 255);
	color:black;
}


.title {
	color:666666;
	font-family:'Dela Gothic One', Courier;
	font-size: 3.5vw;
	text-align: left;
	letter-spacing: 1px;
	margin-top: 5vh;
	margin-left: 3vw;
}


.subtitle{
	color: #ff3333;
}


.text {
	margin-top:70vh;
	margin-bottom: 80vh;
	margin-left: auto;
	margin-right: auto;
	color: #505050;
}


.text p{
	margin-bottom: 100px;
}


.next {
	position: fixed;
	bottom:0px;
	right:0px;
}


.circle {
	width: 100px;
	height:100px;
	background-color:#ff3333;
	border-radius: 100%;
	margin-bottom: 1vh;
	margin-right: 1vw;
}

.circle:hover {
	background-color:#e31b1b;

}

.number a {
	text-decoration: none;
	opacity: 50%;
	font-size:  25vh;
	color:#dedede;
	font-family:'Dela Gothic One', Courier;
	text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.5), 3px -1px 0 rgba(255, 255, 255, 0.8);	
}


.number a:hover {
	opacity: 100%;
	text-shadow: -3px 2px 5px rgba(216, 57, 57, 0.692);
}


.slow {
	color:#dedede;
	opacity: 35%;
	font-family:'Dela Gothic One', Courier;
	font-size:35vw;
	z-index:-1;
	letter-spacing:.5vw;
	margin-top:8vh;
	margin-left: 8vw;
	position:fixed;
	text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.5), 3px -4px 0 rgba(255, 255, 255, 0.8);
}


.medium {
	color:#dedede;
	opacity:35%;
	font-family:'Dela Gothic One', Courier;
	font-size:35vw;
	z-index:-1;
	letter-spacing:-1vw;
	margin-top:8vh;
	margin-left: 4.5vw;
	position:fixed;
	text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.5), 3px -4px 0 rgba(255, 255, 255, 0.8);
}


.fast {
	color:#dedede;
	opacity:35%;
	font-family:'Dela Gothic One', Courier;
	font-size:35vw;
	z-index:-1;
	letter-spacing:-.5vw;
	margin-top:8vh;
	margin-left: 4.5vw;
	position:fixed;
	text-shadow: -3px 2px 5px rgba(0, 0, 0, 0.5), 3px -4px 0 rgba(255, 255, 255, 0.8);
}


.wpm {
	font-family:'Dela Gothic One', Courier;
	color:#dedede;
	font-size: 3vw;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5), .5px -1px 0 rgba(255, 255, 255, 0.8);
	margin-top: 3vh;
}
	