body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 6VW;
	color:coral;
	text-align: center;
	justify-content: center;

}

.name{
	color: blueviolet;
	font-size: 10vw;
	animation: slide-in 3s forwards; 

}



@keyframes slide-in {
	0%{
	transform: translateX(-700px);
	}
	100%{
	transform: translateX(0);
	}

}



a {
	color:blue;
}

.links{
	width: 100vw;
	margin-top: 20vh;
	background-color: yellow;
	padding: 4vw;
}






.title{
	font-weight: bold;
	perspective: 1000%;
	margin-top: 20vh;

}

.title span {
	display: inline-block;
	font-size: 10vw;
	padding:0%;
	user-select: none;
	letter-spacing: -2vw;

}
